.App {
  text-align: center;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

button {
  padding: 0.5em;
  border: 1px solid black;
  background-color: white;
  border-radius: 10px;
}

.row {
  display: flex;
  flex-flow: row wrap;
  position: relative;
}

.results-box {
  position: absolute;
  left: 40%;
  top: 1em;
  border: 1px solid gainsboro;
  border-radius: 10px;
}

.results-box > li {
}
